* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    color:#876fb3;
    letter-spacing: 1.5px;
}

.egypt::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    border-right: 2px solid   gray;
    right: 0;
}
 