* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 10000px; */
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    color:#876fb3;
    letter-spacing: 1.5px;
    border-right: 1px solid   gray;
    padding: 10px;
    
}

.navbar .navbar-toggler {
    border-color: gray;
    color: gray;
    font-size: 18px;
}
/* .navbar .navbar-toggler:focus {
box-shadow: none;
  
}
  */
   
  .carousel-inner .content {
    width: 70%;
    height: 200px;
    background-color: rgb(0, 166, 255,.4);
    border-radius: 10px;
  }
  .carousel-inner .content h1 {
    text-transform: uppercase;
    font-size: 50px;
  }
  .carousel-inner .content p {
    font-size: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 30%;
}
   
 .icon1 {
    color: white;
}

.carousel .links {
  position: absolute;
  right: 20px;
  z-index: 2;
  list-style: none;
  top: 50%;
  position: sticky;
 }

.carousel .links li i {
  
  font-size: 50px;
  margin: 20px 30px;
  color: rgb(0, 166, 255 , .5);

}
.carousel .links li i:hover {
  color: rgb(0, 166, 255 ,8);
}
 