* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 30px;
}
.egypt {
    font-weight: bold;
    color:#6f42c1;    ;
}

.trips:hover {
    
}