* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 10000px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    color:#876fb3;
    letter-spacing: 1.5px;
    border-right: 1px solid   gray;
    padding: 10px;
    
}

.navbar .navbar-toggler {
    border-color: gray;
    color: gray;
    font-size: 18px;
}
/* .navbar .navbar-toggler:focus {
box-shadow: none;
  
}
  */
   
  .carousel-inner .content {
    background-color: ;
  }
  .carousel-inner img {
    width: 100%;
    height: 30%;
}
   