* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 10000px; */
    background-color: #e7e5e5;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    color:#876fb3;
    letter-spacing: 1.5px;
    border-right: 1px solid   gray;
    /* padding: 10px; */
    
}

.navbar .navbar-toggler {
    border-color: gray;
    color: gray;
    font-size: 18px;
}
/* .navbar .navbar-toggler:focus {
box-shadow: none;
  
}
  */
   
  .carousel-inner .content {
    width: 70%;
    height: 200px;
    background-color: rgb(0, 166, 255,.4);
    border-radius: 10px;
  }
  .carousel-inner .content h1 {
    text-transform: uppercase;
    font-size: 50px;
  }
  .carousel-inner .content p {
    font-size: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 20%;
}

 
 .links {
  /* position: sticky; */
  position: fixed;
  right: 0 ;
  z-index: 1000;
  list-style: none;
  top: 30%;
   
 }
  .links li i {
  font-size: 50px;
  margin: 20px 30px;
  color: rgb(0, 166, 255 , .5);

}
.links li i:hover {
  color: rgb(0, 166, 255 ,8);
}
 /* End Section 1 */


/* Start Section 2  */
.section2 {
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
.section2 .content h2 {
  color: #876fb3;
}

.section2 .content p {
  color: white;
  font-size: 18px;
}
.section2 .btn:hover {
background-color: gray;
border-color: gray;
}
/* End Section 2  */

/* Start section 3 */
.section3 {
  height: 200px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section3 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 3 */
/* Start Section 4 */


#accordion .card .btn {
  color: #876fb3;
  font-size: 25px;
  font-weight: bold;
  
}
#accordion .card .card-head {
  box-shadow: 1px 2px 20px gray inset;
}
#accordion .card .card-body {
  box-shadow: 5px 5px 50px gray inset ;
}
/* End Section 4 */

/* Start section 5 */
.section5 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section5 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 5 */

/* Start section 6 */
.section6 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section6 .content {
  padding: 30px;
}

.section6 .content p {
  font-size: 25px;
}
.section6 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section6 .content .btn {
  font-weight: bold;
}
/* End section 6 */

/* Start section 7 */
.section7 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section7 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 7 */

/* Start section 8 */
.section8 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section8 .content {
  padding: 30px;
}

.section8 .content p {
  font-size: 25px;
}
.section8 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section8 .content .btn {
  font-weight: bold;
}
/* End section 8 */

/* Start section 9 */
.section9 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section9 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 9 */

/* Start section 10 */
.section10 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section10 .content {
  padding: 30px;
}

.section10 .content p {
  font-size: 25px;
}
.section10 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section10 .content .btn {
  font-weight: bold;
}
/* End section 10 */
/* Start Section 11 */
.section11 {
  position: relative;
}