* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 30px;
}
.egypt {
    font-weight: bold;
    color: indigo-300;    ;
}