* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 10000px; */
    background-color: #e7e5e5;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    color:#876fb3;
    letter-spacing: 1.5px;
    border-right: 1px solid   gray;
    padding: 10px;
    
}

.navbar .navbar-toggler {
    border-color: gray;
    color: gray;
    font-size: 18px;
}
/* .navbar .navbar-toggler:focus {
box-shadow: none;
  
}
  */
   
  .carousel-inner .content {
    width: 70%;
    height: 200px;
    background-color: rgb(0, 166, 255,.4);
    border-radius: 10px;
  }
  .carousel-inner .content h1 {
    text-transform: uppercase;
    font-size: 50px;
  }
  .carousel-inner .content p {
    font-size: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 20%;
}

 
.carousel .links {
  /* position: sticky; */
  position: absolute;
  right: 0 ;
  z-index: 1000;
  list-style: none;
  top: 50px;
   
 }
  
.carousel .links li i {
  
  font-size: 50px;
  margin: 20px 30px;
  color: rgb(0, 166, 255 , .5);

}
.carousel .links li i:hover {
  color: rgb(0, 166, 255 ,8);
}
 /* End Section 1 */


/* Start Section 2  */
.section2 {
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
.section2 .content h2 {
  color: #876fb3;
}

.section2 .content p {
  color: white;
  font-size: 18px;
}
.section2 .btn:hover {
background-color: gray;
border-color: gray;
}
/* End Section 2  */

/* Start section 3 */
.section3 {
  height: 200px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section3 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 3 */
/* Start Section 4 */


#accordion .card .btn {
  color: #876fb3;
  font-size: 25px;
  font-weight: bold;
  
}
#accordion .card .card-head {
  box-shadow: 1px 2px  gray inset;
}
/* End Section 4 */