* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 12000px; */
    background-color: #e7e5e5;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 30px;
}
.egypt {
    position: relative;
    font-weight: bold;
    background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    border-right: 1px solid   gray;
    /* padding: 10px; */
    
}

.navbar .navbar-toggler {
    border-color: gray;
    color: gray;
    font-size: 18px;
}
/* .navbar .navbar-toggler:focus {
box-shadow: none;
  
}
  */
   
  .carousel-inner .content {
    width: 70%;
    height: 200px;
    background-color: rgb(0, 166, 255,.4);
    border-radius: 10px;
  }
  .carousel-inner .content h1 {
    text-transform: uppercase;
    font-size: 50px;
  }
  .carousel-inner .content p {
    font-size: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 20%;
}

 
 .links {
  /* position: sticky; */
  position: fixed;
  right: 0 ;
  z-index: 1200;
  list-style: none;
  top: 30%;
   
 }
  .links li i {
  font-size: 50px;
  margin: 20px 30px;
  color: rgb(0, 166, 255 , .5);

}
.links li i:hover {
  color: rgb(0, 166, 255 ,8);
}
 /* End Section 1 */


/* Start Section 2  */
.section2 {
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
.section2 .content h2 {
  background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.section2 .content p {
  color: white;
  font-size: 18px;
}
.section2 .btn:hover {
background-color: gray;
border-color: gray;
}
/* End Section 2  */

/* Start section 3 */
.section3 {
  height: 200px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section3 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 3 */
/* Start Section 4 */


#accordion .card .btn {
  background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: bold;
  
}
#accordion .card .card-head {
  box-shadow: 1px 2px 20px gray inset;
}
#accordion .card .card-body {
  box-shadow: 5px 5px 50px gray inset ;
}
/* End Section 4 */

/* Start section 5 */
.section5 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section5 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 5 */

/* Start section 6 */
.section6 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section6 .content {
  padding: 30px;
}

.section6 .content p {
  font-size: 25px;
}
.section6 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section6 .content .btn {
  font-weight: bold;
}
/* End section 6 */

/* Start section 7 */
.section7 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section7 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 7 */

/* Start section 8 */
.section8 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section8 .content {
  padding: 30px;
}

.section8 .content p {
  font-size: 25px;
}
.section8 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section8 .content .btn {
  font-weight: bold;
}
/* End section 8 */

/* Start section 9 */
.section9 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section9 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: white;
}
/* End section 9 */

/* Start section 10 */
.section10 {
  position: relative;
  background-color: rgb(113, 212, 212);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.section10 .content {
  padding: 30px;
}

.section10 .content p {
  font-size: 25px;
}
.section10 .content  p button {
  background-color: rgb(113, 212, 212);
  color:rgb(27, 93, 119) ;
  border: rgb(27, 93, 119);
} 
.section10 .content .btn {
  font-weight: bold;
}
/* End section 10 */

/* Start Section 11 */
.section11 {
  width: 100%;
  height: 50vh;
  background-image: url(../images/simple.jpg);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
.section11 img {
  width: 100%;
  height: 200px;
}
.section11 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

/* Start section 12 */
.section12 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section12 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
text-transform: uppercase;
font-weight: bold;

background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* End section 12 */
/* Start section 13 */
.section13 {
  position: relative;
}

  .section13 .card {
    box-shadow: 1px 1px 10px 20px black outset;
  }
  .section13 .card::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(24, 135, 238);
    transition: 1s;
    opacity: 0;
  }

  .section13 .card:hover::before{
width: 100%;
height: 100%;
opacity: .3;
  }
  .section13 .card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(13, 141, 239);
    transition: 1s;
    opacity: 0;
  }

  .section13 .card:hover::after{
width: 100%;
height: 100%;
opacity: .3;
  }

/* End section 13 */

/* Start Section 14 */
.section14 {
  width: 100%;
  height: 50vh;
  background-image: url(../images/ain-razat.jpg);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
/* .section14 img {
  width: 100%;
  height: 200px;
}
.section14 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
} */

/* Start section 15 */
.section15 {
  height: 100px;
  background-color: rgb(27, 93, 119);
  position: relative;
  border-radius: 10px;
}
.section15 h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
text-transform: uppercase;
font-weight: bold;

background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* End section 15 */

/* Start Section 16 */
.section16 {
  position: relative;
  width: 100%;
}
.section16  .image {
  position: absolute;
  background-image: url(../images/trainer-3.jpg);
  background-size: cover;
  width: 400px;
  height: 500px;
  transition: .5s;
  border-radius: 20px;
}
.section16  .image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  transition: .5s;
}
.section16  .image:hover {
  transform: scale(.8);

}
.section16  .image:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 116, 237, 0.6);
}
.section16 .content {
  position: absolute;
  z-index: 5;
}
.section16 .div-content {
position: absolute;
z-index: 5;
}
/* End Section 16 */
/* Start Section 17 */
  .section17 {
    position: relative;  
  }
  .section17 h1 {
    text-align: center;
background: -webkit-linear-gradient( #b387ff , rgb(57, 31, 255));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 50px;  
}
  .section17 .div1 {
   position: relative;
    width: 1200px;
    height: 400px;
    background-color: #eee;
    border-radius: 15px;
    overflow: hidden;
   
  }
  .section17 .div1::after {
    position: absolute;
    content: "";
    background-image: url(../images/glala.jpg);
    width: 300px;
    height: inherit;
    top: 0;
    right: -20px;
    transform: skewX(5deg);
    overflow: hidden;
  }
  .section17 .div1 p{
    max-width: 650px;
  }

  .section17 .div2 {
    position: relative;
     width: 1200px;
     height: 400px;
     background-color: #eee;
     border-radius: 15px;
     overflow: hidden;
    
   }
   .section17 .div2::after {
     position: absolute;
     content: "";
     background-image: url(../images/glala.jpg);
     width: 300px;
     height: inherit;
     top: 0;
     left: -20px;
     transform: skewX(-5deg);
     overflow: hidden;
   }
   .section17 .div2 .content {
    padding-left: 300px;
   }
   .section17 .div2 .content-button {
    padding-left: 300px;

   }
   .section17 .div2 p{
     max-width: 650px;
   }

   .section17 .div3 {
    position: relative;
     width: 1200px;
     height: 400px;
     background-color: #eee;
     border-radius: 15px;
     overflow: hidden;
    
   }
   .section17 .div3::after {
     position: absolute;
     content: "";
     background-image: url(../images/glala.jpg);
     width: 300px;
     height: inherit;
     top: 0;
     right: -20px;
     transform: skewX(5deg);
     overflow: hidden;
   }
   .section17 .div3 p{
     max-width: 650px;
   }


   .section17 .div4 {
    position: relative;
     width: 1200px;
     height: 400px;
     background-color: #eee;
     border-radius: 15px;
     overflow: hidden;
    
   }
   .section17 .div4::after {
     position: absolute;
     content: "";
     background-image: url(../images/glala.jpg);
     width: 300px;
     height: inherit;
     top: 0;
     left: -20px;
     transform: skewX(-5deg);
     overflow: hidden;
   }
   .section17 .div4 .content {
    padding-left: 300px;
   }
   .section17 .div4 .content-button {
    padding-left: 300px;
    
   }
   .section17 .div4 p{
     max-width: 650px;
   }
   .section17 h2 {
    color: rgb(27, 93, 119);
   }
   .section17 .bttn1 ,
   .section17 .bttn2 ,
   .section17 .bttn3,
   .section17 .bttn4 {
    color: rgb(27, 93, 119);
  }
 .section17 .bttn1:hover {
  background-color: rgb(0, 94, 255);
  color: rgb(186, 183, 183);
  border: none;
 }
 .section17 .bttn2:hover {
  background-color: rgb(255, 10, 10);
  color: rgb(186, 183, 183);
  border: none;
 }


  
/* End Section 17 */